@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html, body {
    height: 100%;
    margin: 5px;
}
.header {
    min-height: 50px;
    margin: 5px;
    background-color: purple;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.footer {
    min-height: 50px;
    margin: 5px;
    background-color: purple;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.content {
    min-height: calc(100vh - 80px);
    background-color: rgb(191, 181, 191);
    display: block;
    padding: 8px;
    text-align: center;
    .product {
        display: inline-block;
        margin-left: 5px;
        margin-top: 5px;
        width: 300px;
        
    }
}
div.cart {
    float: right;
    margin-right: 3px;
}
.cart img {
    height: 30px;
    width: 30px;
    margin: 2px;
}


